

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4">
                <hr class="light">
                <h5>Address</h5>
                <hr class="light">
                <p>Plot No-15 Janki Nagar Colony Samne Ghat Lanka , 221005</p>
                <p>VARANASI, UTTER PRADESH</p>
                <p>INDIA</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <hr class="light">
                <h5>Mfd. By</h5>
                <hr class="light">
                <p>RIDHI SHIDHI AUTO INDUSTRIES</p>
                <p>Ph: 7376844200, 7376470746</p>
                <a href="#" class="whatsapp_no"><i class="fab fa-whatsapp"></i>Ph: 7376844200</a> 
                <p>Email : imscables@gmail.com</p>
            </div>
            <div class="col-sm-12 col-md-4">

            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Ridhi Shidi Auto Industries. All Rights Reserved</h5>
                <h5>|  Privacy Policy  |  Disclimer  | </h5>
            </div>
        </div>
    </div>
</footer>



</body>
</html>

