<%-include("./partials/header")%>

<!-- Image WALA===================================================================== -->

<div id="slides" class="carousel slide text-center" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-fluid" alt="Responsive image" src="Photos/carousel2.jpg">
            <div class="carousel-caption">
                <h1 class="display-2"><span class="carousel-gold">IMS</span> CABLES <span class="carousel-gold">&</span> INDICATORS</h1>
                <h3>Trusterd Everyware by Everyone</h3>
            </div>
        </div>   
        <div class="carousel-item">
            <img class="img-fluid" alt="Responsive image" src="Photos/carousel3.jpg">
            <div class="carousel-caption">
                <h1 class="display-4 number2">Now get our best quality spares <span >ONLINE</span></h1>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-fluid" alt="Responsive image" src="Photos/carousel1.jpg">
            <div class="carousel-caption">
                <h1 class="display-4 number3"><span>Get in touch</span> with us for large orders..!</h1>
            </div>
        </div>
    </div>
</div>
<!-- ===========================================JUMBOTRON=========================================== -->
<!-- <a href="/editDb" class="btn btn-primary">Add Cable</a>
<a href="/editIndicatorDb" class="btn btn-primary">Add indicator</a> -->



<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-12 jumbo_head">
            <h1 class="display-5">Download Our Pricelist ...</h1>
        </div>
        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
            <p>The cheapest and Smoothest cabel ever , with brighter then the sun Indicators. <br> Download Price List for cables and Indicators. </p>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 text-center">
            <a href="#" class="btn btn-secondary btn-lg"><i class="fa fa-download" aria-hidden="true"></i>IMS Cables</a>
        </div>
    </div>

</div>

<!-- ==================================ABOUT US============================================================ -->

<div class="container-fluid padding" style="padding-top:0px; padding-bottom:0px;">
    <div class="row padding">
        <div class="col-md-12 col-lg-6 col-xl-8">        
            <div class="row welcome">
                <div class="col-12" style="padding-top:0px; padding-bottom:0px;">
                    <h1 class="display-4">About Us</h1>
                </div>
                <hr>
            </div>
    
            <p><strong>Ridhi Shidhi Auto Industries</strong> is North India's No.1 spare parts Manufacturing Company for two wheeler automobiles. Our portfolio includes wide range of Control Cables and Indicators and many more two wheeler spare parts. The manufactured products are sold by the brand name of <strong>IMS</strong>. Ridhi Shidhi Auto Industries was established on 2011 at Varansi (Utter Pradesh), and is growing since. The founder of Ridhi Shidhi group is Mr. Sanjeev Dutt Sharma.  </p>
            <p>We manufactur best quality spares for the cheapest price possible.</p>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4"> 
            <img src="Photos/papa.jpg" alt="Responsive image" class="img-fluid justify-content-center" style="height: 340px; width: 260px; margin-left: 4rem;">
        </div>
    </div>
</div>


<!-- ==================================================================================================== -->

<hr class="my-4">

<div>    
    <div class="fixed">
    </div>

<!--============================================================================================================ -->

<div class="container-fluid padding clients_head">
    <div class="row welcome text-center">
        <div class="col-12" style="padding-bottom: 0rem;">
            <h1 class="display-4">Our Clients</h1>
        </div>
        <hr>
    </div>
</div>

<!-- Cards================================================================================================================ -->
<div class="container-fluid " id="states" style="padding-top:0rem ;">    
    <div class="row justify-content-center" style="margin-top: 0rem;">
        <div class="col-xl-2 col-md-4 col-6">
            <div class="icon-box">
                <h3>Utter Pradesh</h3>
                <hr>
                <p>Products are delivered all over Utter Pradesh State.</p>
            </div>    
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">    
            <h3>Bihar</h3>
            <hr style="margin-top: 3.1rem;">
            <p>Products are delivered all over Bihar State.</p>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
          <div class="icon-box">    
            <h3>Jharkhand</h3>
            <hr style="margin-top: 3.1rem;">
            <p>Products are delivered only in Northen region of Jharkhand.</p>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <h3>Madhya Pradesh</h3>
            <hr>
            <p>Products are delivered only in Northen region of Madhya Pradesh.</p>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <h3>Delhi</h3>
            <hr style="margin-top: 3.1rem;">
            <p>Products are delivered all over Delhi.</p>
          </div>
        </div>
    </div>
</div>


<!--======toggle===================================================================================================================-->

<button class="comingSoon btn btn-primary" data-toggle="collapse" data-target="#comingSoon">Comming Soon</button>
<div id="comingSoon" class="collapse">
    <div class="container-fluid padding">    
        <div class="row padding">  
            <div class="col-12">
                <h1 class="display-6 text-center" >PVC and Rubber Parts</h1>
                <hr>
            </div>
           
            <div class=" col-xs-6 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top" class="img-fluid" alt="Responsive image" src="Photos/mudflap.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Mudflap</h4>
                    </div> 
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top" class="img-fluid" alt="Responsive image" src="Photos/footrest.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Footrest Rubber</h4>
                    </div> 
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top" class="img-fluid" alt="Responsive image" src="Photos/coupling.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Coupling Rubber</h4>
                    </div> 
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top" class="img-fluid" alt="Responsive image" src="Photos/kick.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Kick Rubber</h4>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======================================================================================================================== -->

<div class="container-fluid padding clients_head">
    <div class="row welcome text-center">
        <div class="col-12" style="padding-bottom: 0rem;">
            <h1 class="display-4">Contact Us</h1>
            <hr>
        </div>
        <div class="col-12 social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>  
            <a href="#"><i class="fa fa-phone"></i></a>
        </div>
    </div>
</div>


<%-include("./partials/footer")%>



<!-- 
d-flex
justify-content-center
class="icon-box
data-aos="fade-up"       data-aos-delay="150"
class="col-lg-6 order-1 order-lg-2"
class="owl-carousel
<span data-toggle="counter-up">500</span> -->